/*===== 
project name: Bauhaus Landing Page
Author: Adam Jamiu {DLiTeCoder}
Date: march/2021
Github: https://github.com/AdamJamiu/
Project repo: https://github.com/AdamJamiu/Bauhaus

=====*/


@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@1&family=Play:wght@400;700&display=swap');


html{
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
    font-family: 'Play', sans-serif;
    background-color: #fff;
}


.home__section{
    background-color: #fff;
    
}
.brand__logo{
    width: 120px;
    height: 50px;
}

.navbar{
    padding-top: 2em;
    padding-left: 10em;
    display: flex;
    flex-direction: row;
    column-gap: 10em;
    overflow: hidden;
}

.nav{
    display: block;
   padding-top: 1em;
    
}

 .nav__items{
    cursor: pointer;
    display: inline-block; 
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em; 
}


 
.nav__link{
    color: black;
    text-decoration: none;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 2em;
    padding-left: 2em;
    border-radius: 10px;
    transition: .2s ease;
    font-weight: 600;
    
}

.nav__link:hover{
    background-color: black;
    color: #fff;
}

li{
    list-style: none;
    
}


.row{
    padding-top: 6em;
    padding-left: 10em;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    gap: 12em;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 950px){
    

    
}

@media only screen and (max-width: 850px){
    .vector{
        width: 350px;
    }

    .row{
        gap: 3em;
         flex-direction: column-reverse;
         margin-top: 4em;
         padding: 1em;
         align-items: center;
    }

    
}


.vector{

    
}


.bauhaus-design{
    
    top: 70px; 
    left: 100px; 
    z-index: 3; 
}
.disc{
    font-size: 30px;
    font-weight: 600;
}
.unity{
    color: red;
    font-size: 16px;
    font-weight: 400;
}

.Bauhaus{
    font-size: 4em;
    font-weight: 700;
    padding: 0;
    }
.landing__btn{
    width: 10rem;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: .2s ease;
    font-weight: 600;
}

.landing__btn:hover{
    background-color: #fff;
    color: black;
    border: 2px solid black;
}

.landing__text{
    line-height: 1.6;
    padding-bottom: 2em;
    word-spacing: 1px;
}

.land__col{
    display: flex;
    flex-direction: column;
}

/* Brands section*/

.brands__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 3em;
    padding-top: 8em;
}

.logo__list{
    width: 8em;
    height: 2em;
}


.moderism-wrap{
    display: flex;
    flex-direction: row;
    padding-top: 7em;
    padding-bottom: 7em;
    gap: 7em;
    
}
.living-room{
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
}

.sub__row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 5em;
    column-gap: 3em;
    row-gap: 1.1em;
    flex-wrap: wrap;
    
}

@media only screen and (max-width: 1000px) {
    .sub__row{
        padding: 0;
    }
}

.sub__col{
    
    width: 250px;
}

.sub__btn{
    position: relative;
    font-weight: 600;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    transition: .1s ease-in-out;
    
}

button .sub__btn:hover{
    background-color: #fff;
    color: black;
    border: 2px solid black;
}

.mies{
    font-family: 'Josefin Sans', sans-serif;;
    font-weight: bolder;
    
    flex-wrap: wrap;
    word-spacing: 2px;
    font-size: 50px;
}

.school{
    color: red;
}

.furniiture-txt{
    font-weight: 600;
    font-size: 21px;
}

.sub__text{
    line-height: 1.5;
    word-spacing: 1px;
    text-align: left;
    font-size: 15px;
}


@keyframes slideInFromRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  #animation-1{
    animation: 1.50s ease-out 0s 1 slideInFromRight;
  }


  /* Stock sections*/


  .stock__section {

    padding-top: 4em;
      background: white;
}


  @media only screen and (min-width: 1024px){
.stock__section {
    padding: 0px 54px;
}
@media only screen and (min-width: 640px){
.stock__section {
    padding: 0px 48px;
    
}

}

@media only screen and (min-width: 480px){

.stock__section {
    padding: 0px 32px;
    
}

}

@media screen only and (max-width: 650px){
    .vector{
        visibility: hidden;
    }
}

  .prop-row{
    display: flex;
    flex-direction: row;
    gap: 5em;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 3em;

  }

  .float{
      display: flex;
      float: right;
      justify-content: flex-end;
      flex-direction: row; 
      width: 70%;
  }

  .bx-chevron-down{
      cursor: pointer;
  }

  .stock__list-row-1{
      display: flex;
      flex-direction: row;
      gap:3em;
      flex-wrap: wrap;
      margin-bottom: 5em;
  }

  .stock__list-row{
    display: flex;
    flex-direction: row;
    gap:3em;
    flex-wrap: wrap;
}



  .stock-list{
      width: 10em;
      height: 10em;
      padding-top: 2em;
      padding-right: 3em;
      padding-left: 3em;
  }

  .goods__list-col{
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    min-width: 244px;
    max-width: 288px;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 13%) 1px 5.2px 8.2px 1px, rgb(0 0 0 / 11%) 0px 0.6px 1.8px 0px;
    overflow: hidden;
    align-items: center;
    height: fit-content;
    cursor: pointer;
    transition: .2s ease-in-out;
    padding-bottom: 2em;
  }


  .goods__list-col:hover{
      transform: scale(1.1);
  }

  .price{
      font-weight: 700;
  }



  /* Brands section*/

  .marcel-breauer{
      padding: 10em 5em;
  }

  .marcel__title{
      color: red;
      font-weight: 500;
      font-size: 16px
  }

  .marcel__name{
      font-size: 2.5em;
      font-weight: 800;
      line-height: 1.5;
  }

  .sub__title{
      font-size: 1.3em;
      font-weight: 500;
  }

  .marcel__row{
      display: flex;
      flex-direction: row;
      gap: 6em;
      
  }

  .marcel__wrap{
      display: flex;
      flex-direction: row;
      gap: 3em;
      
  }

  .marcel__col{
      display: flex;
      align-items: flex-end;
      width: fit-content;
      flex-wrap: wrap;
  }

  .marcel__btn{
      padding-top: 1em;
      padding-bottom: 1em;
      padding-right: 2em;
      padding-left: 2em;
      color: white;
      background-color: black;
      border-radius: 12px;
      border: 1px solid black;
      transition: .2s ease;

  }

  .marcel__btn:hover{
      background-color: #fff;
      color: black;
  }