/*===== 
project name: Bauhaus Landing Page
Author: Adam Jamiu {DLiTeCoder}
Date: march/2021
Github: https://github.com/AdamJamiu/
Project repo: https://github.com/AdamJamiu/Bauhaus

=====*/


@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@1&family=Play:wght@400;700&display=swap');


html{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
    font-family: 'Play', sans-serif;
    background-color: #fff;
}


.home__section{
    background-color: #fff;
    max-height: 98vh;
}
.brand__logo{
    width: 120px;
    height: 50px;
}

.navbar{
    padding-top: 2em;
    padding-left: 10em;
    display: flex;
    flex-direction: row;
    column-gap: 10em;
    overflow: hidden;
}

.nav{
    display: block;
   padding-top: 1em;
    
}

 .nav__items{
    cursor: pointer;
    display: inline-block; 
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em; 
}


 
.nav__link{
    color: black;
    text-decoration: none;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 2em;
    padding-left: 2em;
    border-radius: 10px;
    transition: .2s ease;
    font-weight: 600;
    
}

.nav__link:hover{
    background-color: black;
    color: #fff;
}

li{
    list-style: none;
    
}

header{
   
    }

.row{
    padding-top: 6em;
    padding-left: 10em;
    background: url("assets/img/bauhaus.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: row;
}

.bauhaus-wrap { 
    position:relative;
    margin-left: 20em;
    
 }
.vector{
    position:absolute; 
    bottom: 0px; 
    left: -100px; 
    z-index: 1;    
    border-radius: 100px;
    width: 100%;
    height: 300px;
}


.bauhaus-design{
    position:absolute; 
    top: 70px; 
    left: 100px; 
    z-index: 3; 
}
.disc{
    font-size: 23px;
}
.unity{
    color: red;
    font-size: 16px;
    font-weight: 400;
}

.Bauhaus{
    font-size: 5em;
    font-weight: 700;
    padding: 0;
    }
.landing__btn{
    width: 10rem;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: .2s ease;
    font-weight: 600;
}

.landing__btn:hover{
    background-color: #fff;
    color: black;
    border: 2px solid black;
}

.landing__text{
    line-height: 1.6;
    padding-bottom: 2em;
    word-spacing: 1px;
}

.land__col{
    display: flex;
    flex-direction: column;
}

/* Brands section*/

.brands__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 3em;
    padding-top: 5em;
}

.logo__list{
    width: 8em;
    height: 2em;
}


.moderism-wrap{
    display: flex;
    flex-direction: row;
    padding-top: 7em;
    gap: 7em;
}
.living-room{
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
}

.sub__row{
    display: flex;
    flex-direction: row;
    padding-left: 5em;
    column-gap: 3em;
    row-gap: 1.1em;
    flex-wrap: wrap;
    width: 590px;
}

.sub__col{
    
    width: 250px;
}

.sub__btn{
    position: relative;
    font-weight: 600;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    transition: .1s ease-in-out;
    border: ;
}

button .sub__btn:hover{
    background-color: #fff;
    color: black;
    border: 2px solid black;
}

.mies{
    font-family: 'Josefin Sans', sans-serif;;
    line-height: 0;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 50px;
}

.sub__text{
    line-height: 1.5;
    word-spacing: 1px;
    text-align: left;
    font-size: 15px;
}


@keyframes slideInFromRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  #animation-1{
    animation: 1.50s ease-out 0s 1 slideInFromRight;
  }


  /* Stock sections*/

  .stock__section{
      padding-top: 4em;
      background-color: whitesmoke;
  }

  .prop-row{
      display: flex;
      flex-direction: row;
        gap: 5em;
        padding-bottom: 3em;
        padding-left: 3em;

  }

  .float{
      padding-left: 52em;
  }

  .bx-chevron-down{
      cursor: pointer;
  }

  .stock__list-row-1{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  .stock-list{
      width: 10em;
      height: 12em;
      padding-top: 2em;
      padding-right: 3em;
      padding-left: 3em;
  }

  .goods__list-col{
      background-color: #fff;
      cursor: pointer;
      text-align: center;
      width: fit-content;
      box-shadow:   0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }

  .price{
      font-weight: 700;
  }