/*===== 
project name: Bauhaus Landing Page
Author: Adam Jamiu {DLiTeCoder}
Date: march/2021
Github: https://github.com/AdamJamiu/
Project repo: https://github.com/AdamJamiu/Bauhaus

=====*/


@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@1&family=Play:wght@400;700&display=swap');

html{
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
    font-family: 'Play', sans-serif;
    background-color: #fff;
}


.home__section{
    background-color: #fff;
    height: 98vh;
}
.brand__logo{
    width: 120px;
    height: auto;
}

.navbar{
    padding-top: 3em;
    padding-left: 10em;
    display: flex;
    flex-direction: row;
    column-gap: 10em;
    
}

.nav{
    display: lock;
    background-color: red;
    
}

 .nav__items{
    cursor: pointer;
    display: inline-block; 
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em; 
}


 
.nav__link{
    color: black;
    text-decoration: none;
    text-align: center;
    background-color: yellow;
    
}

.nav__link:hover{
    border: 2px solid black; 
}

li{
    list-style: none;
    
}

header{
   
    }

.row{
    padding-top: 10em;
    padding-left: 10em;
    background: url("assets/img/bauhaus.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: row;
}

.unity{
    color: red;
    font-weight: 400;
}
.bauhaus-wrap { 
    position:relative;
    margin-left: 20em;
    
 }
.vector{
    position:absolute; 
    bottom: 0px; 
    left: -100px; 
    z-index: 1;    
    border-radius: 100px;
    width: 100%;
    height: 300px;
}


.bauhaus-design{
    position:absolute; 
    top: 70px; 
    left: 100px; 
    z-index: 3; 
}
.disc{
    font-size: 35px;
}

.Bauhaus{
    font-size: 6em;
    font-weight: 700;
    padding: 0;
    }
.landing__btn{
    width: 10rem;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: .2s ease;
    font-weight: 700;
}

.landing__btn:hover{
    background-color: #fff;
    color: black;
    border: 2px solid black;
}

.landing__text{
    line-height: 1.8;
    padding-bottom: 2em;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.land__col{
    display: flex;
    flex-direction: column;
}

/* Brands section*/

.brands__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 3em;
    padding-top: 5em;
}

.logo__list{
    width: 8em;
    height: 2em;
}

/* Brands section*/

.moderism-wrap{
    display: flex;
    flex-direction: row;
    padding-top: 10em;
    gap: 10em;
}
.living-room{
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
}

.sub__row{
    display: flex;
    flex-direction: row;
    padding-left: 5em;
    gap: 5em;
    background-color: green;
    flex-wrap: wrap;
}

.sub__col{
    border: 2px solid black;
    width: 250px;
}

.sub__btn{
    position: relative;
    
}